input {
    keyboard {
        xkb {
            layout "us,pl.gb"
            options "grp:ctrl_alt_toggle"
        }

        numlock
    }

    trackpoint {
        off
    }
}

layout {
    gaps 8
    focus-ring {
        width 2
        active-gradient from="#bd93f9" to="#8be9fd" angle=45 relative-to="workspace-view"
    }
}

cursor {
    xcursor-theme "phinger-cursors-dark"
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "gammastep"
spawn-at-startup "lxqt-policykit-agent"
spawn-at-startup "copyq"
spawn-at-startup "easyeffects" "--service-mode"
spawn-at-startup "blueman-applet"
spawn-at-startup "nmapplet"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/screenshots/%Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

binds {
    Mod+Q hotkey-overlay-title="Open a Terminal: alacritty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn-sh "rofi -show drun"; }
    Super+Shift+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+L { spawn "nwg-bar"; }
    Mod+V { spawn-sh "copyq toggle"; }

    Mod+E repeat=false { toggle-overview; }

    Mod+Shift+C repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }


    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+P { power-off-monitors; }
}
